# Supabase
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=

# Mayar.id
MAYAR_API_KEY=
MAYAR_WEBHOOK_SECRET=
MAYAR_API_URL=https://api.mayar.id/hl/v1

# App
PUBLIC_APP_URL=https://your-domain.vercel.app
